name: Release Drafter

on:
  push:
    branches:
      - main
  # Esto permite que el autolabeler funcione apenas abres el PR
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  contents: read

jobs:
  update_release_draft:
    permissions:
      contents: write  # Para crear la release
      pull-requests: write # Para añadir etiquetas automáticamente
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
